# Python / Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables & Secrets
.env
.env.local
.env.*
!.env.example

# Database / SQLite
*.sqlite3
*.db

# Virtual Environment
.venv/
env/
venv/

# IDE / Editor
.vscode/
.idea/
*.swp
